color: rgb(61, 251, 152);
}
h1{
  color: rgb(61, 251, 152);
}
h2{
    color: rgb(61, 251, 152);
}
ul{
    color: rgb(61, 251, 152);
}
body{
  font-family: 'Permanent Marker', cursive;
  text-shadow: 2px 2px #ff0000;
}
    color: rgb(61, 251, 152);
    background-color: rgb(255, 255, 204);

}
